<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Min ØnskeListe</title>
    <link rel="stylesheet" th:href="@{../static_}" href="../static_&_fragments/style.css">
    <section class="header">yo</section>
</head>



<body>
<section class="wishlist">
    <h1>Din Ønskeliste</h1>

    <form action="#" th:action="@{/DinØnskeListe}" th:object="${wishlist}" method="get">
        
        <p><span th:text="${wishlist}"></span></p>
        <ul th:each="wish : ${wishlist}">
            <li th:text="${wish}"></li>
        </ul>
    </form>

    <form action="#" th:action="@{/DinØnskeListe}" th:object="${wishlist}" method="post">
        <label for="wish"></label>
        <p>Nyt Ønske: <input type="text" id="wish" name="wish" /></p>

        <p><input type="submit" value="Submit"/></p>

    </form>



</section>
</body>



<footer>
    <p>daw</p>
</footer>

</html>