<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Min ØnskeListe</title>
    <link rel="stylesheet" th:href="@{../static_}" href="../static_&_fragments/style.css">
    <section class="header">yo</section>
</head>



<body>
<section class="wishlist">
    <h1>Din Ønskeliste</h1>

        <p><span th:text="${wlist}"></span></p>
        <ul th:if="${session.containsValue(UseID)}" th:each="wish : ${wlist}">
            <li th:text="${wish}"></li>
        </ul>

    <form action="#" th:action="@{/DinØnskeListe}" th:object="${wlist}" method="post">

        <p>Nyt Ønske: <input type="text" th:field="*{wish}" /></p>

        <p><input type="submit" value="Submit"/></p>

    </form>



</section>
</body>



<footer>
    <p>daw</p>
</footer>

</html>