<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskelisten</title>
    <link rel="stylesheet" th:href="@{../static_}" href="../static_&_fragments/style.css">


    <section class="header">DinØnskeliste.dk</section>

</head>
<body>

<section class="menu">
        <h1>Forside</h1>
    <button class="menubutton"><a href="LogInd.html">Log ind</a></a></button>
    <button class="menubutton"><a href="OpretBruger.html">Opret bruger</a></button>
</section>

</body>
<footer>
<p>daw</p>
</footer>
</html>