<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log ind</title>
    <link rel="stylesheet" th:href="@{../static_}" href="../static_&_fragments/style.css">
    <section class="header">yo</section>

</head>
<body>
<section class="menu">

<form method="post" action="/Logger Ind Nu">

<input class="menutextfelt" id="username" type="text" name="username"/>
<input class="menutextfelt" id="password" type="password" name="password"/>
<button type="submit" name="opret bruger" id="opret bruger" class="menubutton">Opret bruger</button>

</form>

</section>
</body>
<footer>
    <p>daw</p>
</footer>
</html>