<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log ind</title>
    <link rel="stylesheet" th:href="@{../static_}" href="../static_&_fragments/style.css">
    <section class="header">yo</section>

</head>
<body>
<section class="menu">
    <button class="backtoMainButton" onclick="window.location.href='index.html'"></button>

    <form action="#" th:action="@{/LogInd}" th:object="${bruger}" method="post">

        <p>Username: <input type="text" th:field="*{username}" /></p>
        <p>Password: <input type="password" th:field="*{password}" /></p>

        <p><input type="submit" value="Submit" /><input type="reset" value="Reset"></p>

</form>

</section>
</body>
<footer>
    <p>daw</p>
</footer>
</html>