<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Bruger</title>
    <link rel="stylesheet" th:href="@{../static_}" href="../static_&_fragments/style.css">
    <section class="header">yo</section>

</head>
<body>
<section class="menu">
    <h1>Forbidden</h1>
    <form method="post" action="/Opretter bruger nu">
    <p>Indtast email</p>
    <input class="menutextfelt" id="email" type="text" name="email" placeholder="Email" required="required"/>
    <p>Indtast brugernavn</p>
    <input class="menutextfelt" id="username" type="text" name="username" placeholder="Brugernavn" required="required"/>
    <p>Indtast Adgangskode</p>
    <input class="menutextfelt" id="password" type="password" name="password" placeholder="Adgangskode" required="required"/>
    <p>Gentast Adgangskode</p>
    <input class="menutextfelt" id="passwordRE" type="password" name="password" placeholder="Gentast Adgangskode" required="required"/>

    <button type="submit" name="opret bruger" id="opret bruger" class="menubutton">Opret bruger</button>
    </form>
</section>
</body>
<footer>
    <p>daw</p>
</footer>
</html>