<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Bruger</title>
    <link rel="stylesheet" th:href="@{../static_}" href="../static_&_fragments/style.css">
    <section class="header">yo</section>

</head>
<body>
<section class="menu">
    <h1>Forbidden</h1>
    <p>Indtast email</p>
    <input class="menutextfelt" id="email" type="text" name="email"/>
    <p>Indtast brugernavn</p>
    <input class="menutextfelt" id="username" type="text" name="username"/>
    <p>Indtast kodeord</p>
    <input class="menutextfelt" id="password" type="password" name="password"/>
    <button class="menubutton">Opret bruger</button>
</section>
</body>
<footer>
    <p>daw</p>
</footer>
</html>