<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Bruger</title>
    <link rel="stylesheet" th:href="@{../static_}" href="../static_&_fragments/style.css">
    <section class="header">yo</section>

</head>
<body>
<section class="menu">
    <button class="backtoMainButton" onclick=href="/index"></button>
    <h1>Forbidden</h1>

    <form action="#" th:action="@{/OpretBruger}" th:object="${bruger}" method="post">
        <label for="email"></label>
        <p>Email: <input type="text" id="email" name="email" required/></p>
        <label for="username"></label>
        <p>Username: <input type="text" id="username" name="username" required/></p>
        <label for="password"></label>
        <p>Password: <input type="password" id="password" name="password" required/></p>
        <label for="passwordRE"></label>
        <p>Repeat Password: <input type="password" id="passwordRE" name="passwordRE" required/></p>
        <p><input type="submit" value="Submit" /><input type="reset" value="Reset"></p>

    </form>
</section>
</body>
<footer>

</footer>
</html>