body{
    background-image: url("shooting-star-5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 99vw;
}

.header{
    background: darkblue;
    opacity: 0.8;
    color: ghostwhite;
    font-size: 25px;
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    width: 100%;
    height: 10%;
    position: fixed;
    left: 0;
    top: 0;
}

footer{
    background: darkblue;
    opacity: 0.8;
    width: 100%;
    height: 5%;
    position: absolute;
    left: 0;
    bottom: -5%;
}

.menu{
    background-color: #c89d28;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 80%;
    width: 20%;
}
.menubutton{
    background-color: gray;
    color: ghostwhite;
    text-align: center;
    font-size: 100%;
    display: inline-block;
    width: 50%;
    cursor: pointer;
    margin: 1%;

}
.menutextfelt {
    margin: 1%;
}
.wishlist{
    background-color: #c89d28;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 80%;
    width: 20%;
}
.textBox{
    background-color: #c89d28;
    border: solid black;
    top: 160px;
    left: 5%;
    height: 450px;
    width: 90%;
    position: absolute;
    text-align: left;
    font-family: Calibri;
}
